.mx_EventListSummary {
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
    border: 1px solid $primary-hairline-color;
    border-radius: 4px;
    margin-bottom: 7px;
    margin-top: 15px;

    .mx_EventListSummary_line {
        margin-left: 0;
    }

    .mx_EventTile_info {
        text-align: left;

        .mx_EventListSummary_avatars {
            padding-top: 0;
        }

        .mx_TextualEvent {
            padding: 6px;
        }
    }

    .mx_EventTile_line {
        padding: 0;
        margin-right: 30px;
        margin-left: 10px;
        min-height: 30px;
        line-height: 18px;

        .mx_MessageActionBar {
            top: 2px;
            right: -23px;
        }
    }

    li {
        margin-top: 0 !important;
        min-height: 30px !important;
        border-bottom: 1px solid $primary-hairline-color;

        .mx_EventTile {
            height: 100% !important;

            .mx_EventUser {
                top: 10px !important;
                right: 10px;

                a:first-child {
                    position: absolute;
                    right: 45px;
                    top: 9px
                }
            }

            .mx_TextualEvent {
                padding: 6px;
                text-align: left;
            }

            .mx_EventTile_line {
                padding: 0;
                margin: 0 30px;
                background: transparent;
                border: 0;
                border-radius: 0;
                line-height: 18px;

                .mx_MessageActionBar {
                    top: 2px;
                    right: -23px;
                }

                &:hover {
                    background-color: transparent !important;
                }
            }

            .mx_EventTile_avatar {
                left: 10px;
            }

            &:hover {
                background-color: #fefefe;

                .mx_EventTile_line {
                    background-color: transparent !important;
                }
            }
        }
    }

    li:last-child {
        border: 0;
    }
}

.mx_RoomMember {
    .mx_TextualEvent {
        color: #644F92;
    }
}

.mx_EventNotice {
    margin-top: 0 !important;

    .mx_EventListSummary_line {
        margin-left: 0;
    }

    .mx_EventTile {
        position: relative;
        text-align: left;
        padding-top: 0 !important;

        .mx_EventUser {
            top: 10px !important;
            right: 10px;

            a:first-child {
                position: absolute;
                right: 45px;
                top: 9px;
                z-index: 1;

                .mx_MessageTimestamp {
                    width: 46px;
                }
            }
        }

        .mx_TextualEvent {
            padding: 6px;
            text-align: left;
        }

        .mx_EventTile_line {
            background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%);
            border: 1px solid $primary-hairline-color;
            border-radius: 4px;
            margin-bottom: 7px;
            margin-top: 0;
            margin-right: 0;
            padding: 0 30px;
            line-height: 18px;

            &:hover {
                background-color: #fefefe !important;
            }

            .mx_MessageActionBar {
                top: 2px;
                right: 6px;
            }
        }

        .mx_EventTile_avatar {
            left: 10px;
        }

        .mx_EventTile_readAvatars {
            top: 0;
            right: 0;
        }
    }

    .mx_EventTile_selected > div > a > .mx_MessageTimestamp {
        left: auto;
    }
}

.mx_EventListSummary_toggle {
    margin: 0;
    width: 30px;
    height: 30px;
}
