.mx_Field {
    background-color: transparent;
    height: 34px;
    padding: 0;
    font-size: 13px;
    line-height: 1.428571429;
    background-image: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    flex: 1;
    min-width: 0;
    position: relative;
    margin: 0 0 1em;
}

.mx_Field_labelAlwaysTopLeft label,
.mx_Field select + label /* Always show a select's label on top to not collide with the value */,
.mx_Field input:focus + label,
.mx_Field input:not(:placeholder-shown) + label,
.mx_Field textarea:focus + label,
.mx_Field textarea:not(:placeholder-shown) + label {
    background-color: transparent;
}

.mx_Field select:disabled,
.mx_Field select:disabled + label,
.mx_Field input:disabled,
.mx_Field input:disabled + label,
.mx_Field textarea:disabled,
.mx_Field textarea:disabled + label {
    background-color: transparent;
    color: $greyed-fg-color;
}

.mx_Field input,
.mx_Field select,
.mx_Field textarea {
    border-radius: 2px;
}

.mx_Field:focus-within {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .075), 0 0 8px rgba(58, 39, 98, .2);
}
