.mx_MatrixChat > .mx_ResizeHandle.mx_ResizeHandle_horizontal {
    margin: 0 -11px 0 0;
    padding: 0 9px 0 0;
}

.mx_ResizeHandle.mx_ResizeHandle_vertical {
    margin: 0;
}

.mx_ResizeHandle > div {
    background: transparent;
}
