.mx_SplashPage {
    position: relative;
    height: 100%;

    &::before {
        /* Once we drop support for Firefox 102, remove this entire pseudo-element, move the background to the
           .mx_MatrixChat_splash, and use backdrop-filter for the blur instead. */
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        opacity: 0.6;
        background-color: $background;
        /* Intermediate values generated compared to the original figma design to compensate for issues with
           gamma-incorrect gradient blending in browsers */
        background-image:
            radial-gradient(
                53.85% 66.75% at 87.55% 0%,
                hsla(250, 76%, 71%, 0.261) 0%,
                hsla(250, 100%, 88%, 0) 100%
            ),
            radial-gradient(
                41.93% 41.93% at 0% 0%,
                hsla(222, 29%, 20%, 0.28) 0%,
                hsla(250, 100%, 88%, 0) 100%
            ),
            radial-gradient(
                100% 100% at 0% 0%,
                hsla(250, 100%, 88%, 0.174) 0%,
                hsla(0, 100%, 86%, 0) 100%
            ),
            radial-gradient(
                106.35% 96.26% at 100% 0%,
                hsla(250, 100%, 88%, 0.4) 0%,
                hsla(167, 76%, 82%, 0) 100%
            );
        /* Ugly hack to allow us to get rid of the color banding of the gradients */
        /* Can be replaced with backdrop-filter, replacing the hack below, after we stop supporting Firefox 102 */
        filter: blur(8px);
        /* Even uglier hack to prevent the blur filter from causing white fringing at the edges */
        inset: -9px;
    }
}
