.mx_MessageActionBar {
    background: transparent;
    height: 25px;
    line-height: 25px;
    top: -26px;
    right: 0;
    margin-bottom: 2px;

    // Ensure the action bar appears above over things, like the read marker.
    z-index: 2;

    // Adds a previous event safe area so that you can't accidentally hover the
    // previous event while trying to mouse into the action bar or from the
    // react button to its tooltip.
    &::before {
        content: none;
        position: absolute;
        // tooltip safe mousing area + tooltip overhang +
        // action bar + action bar offset from event
        width: 0;
        // safe area + action bar
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        cursor: default;
    }

    > * {
        background-color: $message-action-bar-bg-color;
    }
}
