.mx_RoomView_body {
    margin-left: -1px
}

.mx_RoomView_statusAreaBox_line {
    margin-left: 0;
}

.mx_RoomView_MessageList li {
    width: 100%;
    margin-top: 8px;
}

.mx_RoomView_MessageList li.mx_Continuation {
    margin-top: 4px;
}

.mx_EventTile:hover .mx_EventTile_line,
.mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line,
.mx_EventTile.focus-visible:focus-within .mx_EventTile_line {
    background-color: transparent !important;
}

/* View for Sender */
.mx_RoomView_MessageList li.mx_Sender:not(.mx_RoomMember):not(.mx_RoomTopic) {
    float: right;

    .mx_EventTile {
        .mx_EventTile_msgOption {
            float: right;
        }

        .mx_EventTile_avatar {
            display: none;
            left: auto;
            right: auto;
        }

        .mx_EventTile_line {
            float: right;
            margin: 0;
            background: linear-gradient(154.02deg, #4a419b 25%, #8277dd 100%);
            color: #ffffff;
            border-radius: 10px 2px 2px 10px;
            box-shadow: -7px 7px 5px 0px rgba(200, 200, 200, 0.1);

            .mx_EventTile_content {
                .markdown-body blockquote {
                    margin-left: 0;
                    padding-left: 10px;
                    border-left: 0;
                    border-right: 4px solid #43389e;
                    color: #b8add3;
                    text-align: right;
                }
            }

            .mx_ReactionsRow {
                border-top: 1px solid #8178d2;
            }

            .mx_EventTile_body {
                a {
                    color: #ffffff;
                }
            }
        }

        .mx_EventUser {
            top: 4px !important;
            right: 0;

            .mx_SenderProfile {
                .mx_SenderProfile_name {
                    color: $accent-color;
                }
            }
        }

        .mx_EventTile_readAvatars {
            float: right;
        }
    }
}

/* View for Receiver */
.mx_RoomView_MessageList li.mx_Receiver:not(.mx_RoomMember):not(.mx_RoomTopic) {
    float: left;

    .mx_EventTile {
        .mx_EventTile_msgOption {
            float: left;
            margin-left: 40px;
        }

        .mx_EventTile_line {
            float: left;
            margin: 0 0 0 40px;
            background: linear-gradient(154.02deg, #f1f1f4 25%, #eeeeee 100%);
            color: #444444;
            border-radius: 2px 10px 10px 2px;
            box-shadow: -7px 7px 5px 0px rgba(200, 200, 200, 0.1);

            .mx_EventTile_content {
                .markdown-body blockquote {
                    margin-left: 0;
                    padding-left: 10px;
                    border-right: 0;
                    border-left: 4px solid $blockquote-bar-color;
                }
            }

            .mx_ReactionsRow {
                border-top: 1px solid #dddddd;
            }

            .mx_MessageActionBar {
                left: auto;
                right: 7px;
            }
        }

        .mx_EventTile_avatar {
            top: 25px;
            left: auto;
            right: auto;
        }

        .mx_EventUser {
            left: 0;
        }

        .mx_EventTile_readAvatars {
            float: left;
            left: 40px;
        }
    }

    .mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line {
        border-left: 2px;
    }

    .mx_EventTile:hover.mx_EventTile_unknown .mx_EventTile_line {
        border-left: 2px;
    }
}

/* View for Sender and Receiver */
.mx_RoomView_MessageList li.mx_Sender:not(.mx_RoomMember):not(.mx_RoomTopic),
.mx_RoomView_MessageList li.mx_Receiver:not(.mx_RoomMember):not(.mx_RoomTopic) {
    .mx_EventTile {
        padding-top: 25px;
        clear: both;
        height: calc(100% - 20px);

        .mx_MessageTimestamp {
            width: auto;
        }

        .mx_EventTile_line {
            padding: 0;

            .mx_EventTile_content {
                padding: 8px 12px 8px 12px;
                margin: 0;
            }
        }

        .mx_EventUser {
            position: absolute;
            top: 0;

            .mx_SenderProfile {
                text-overflow: initial;
                max-width: 100%;
                padding-left: 0;
            }

            .mx_MessageTimestamp {
                display: inline-block;
                position: relative;
                visibility: visible;
                text-align: left;
                top: -5px;
            }
        }

        .mx_EventTile_msgOption {
            height: auto;
            margin: 0;
            width: auto;
            clear: both;

            .mx_SenderProfile {
                text-overflow: initial;
                max-width: 100%;
                padding-left: 0;
            }
        }
    }
}

.mx_RoomView_MessageList li.mx_Sender.mx_Image,
.mx_RoomView_MessageList li.mx_Receiver.mx_Image,
.mx_RoomView_MessageList li.mx_Sender.mx_File,
.mx_RoomView_MessageList li.mx_Receiver.mx_File {
    .mx_EventTile {
        height: 100%;

        .mx_EventTile_line {
            background: transparent !important;
            border-radius: 0;
        }

        .mx_EventUser {
            .mx_SenderProfile {
                margin-right: 5px !important;
            }
        }
    }
}

/*
    .mx_RoomView_MessageList li.mx_Image,
    .mx_RoomView_MessageList li.mx_File {
        margin-top: 10px;
        margin-bottom: 6px;
    }
*/

.mx_RoomView_MessageList li.mx_Sender.mx_CallInvite,
.mx_RoomView_MessageList li.mx_Sender.mx_CallHangup {
    .mx_EventTile {
        .mx_EventUser {
            a {
                .mx_MessageTimestamp {
                    top: 0 !important;
                }
            }
        }
    }
}

.mx_RoomView .mx_MessageComposer {
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1);
}

li.mx_RoomView_myReadMarker_container {
    margin-top: 15px;
    margin-bottom: 4px;

    .mx_RoomView_myReadMarker {
        width: 100% !important;
    }
}
