.mx_SettingsBanner {
    background: $system;
    line-height: 2.25rem;
    border-radius: 8px;
    padding: 12px 16px;
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mx_SettingsBanner_content {
        margin: 0;
    }

    .mx_AccessibleButton {
        align-self: initial;
        white-space: nowrap;
    }
}
