.mx_GifPicker_Box{
    height: 450px;
    width: 450px;
}

.mx_GifPicker {
    width: 450px;
    height: 390px;
    display: flex;
    border-radius: 4px;
    flex-wrap: wrap;
    overflow: scroll;
    margin: auto;
}

.mx_GifPicker > div > div {
    height: auto;
    border: none;
    background: none;
}

.mx_GifPicker > div > div > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: none;
    width: 96%;
    padding: 2%;
}

.mx_GifPicker_Gif{
    border-radius: 5px;
    width: 100%;
}

.mx_GifPicker_Gif:hover{
    outline: solid 3px #0dbd8b;
    transition: outline 0.3s linear;
}

.mx_GifPicker_Menubar{
    width: 100%;
    height: 60px;
}

.mx_GifPicker_Column{
    width: 49%;
    flex: 49%;
}

.mx_GifPicker_Search{
    display: flex;
    align-items: center;
}

.mx_GifPicker_Search:focus-within{
    outline: 1px green solid;
    border-radius: 8px;
}

.mx_GifPicker_SearchIcon {
    width: 16px;
    height: 16px;
    mask: url('$(res)/img/element-icons/roomlist/search.svg');
    mask-repeat: no-repeat;
    background-color: $secondary-content;
    margin-left: 7px;
    margin-bottom: 2px;
}

.mx_GifPicker_Searchbar {
    border: none;
    outline: none;
    width: 90%;
    margin: auto;
}
