.mx_JumpToDatePicker_form {
  display: flex;
  align-items: center;
}

.mx_JumpToDatePicker_label {
  font-size: $font-15px;
}

.mx_JumpToDatePicker_datePicker {
  margin: 0;
  margin-left: 8px;
}

.mx_JumpToDatePicker_submitButton {
  margin-left: 8px;
}
