.mx_AnalyticsLearnMoreDialog {
    max-width: 500px;
    .mx_AnalyticsLearnMore_image_holder {
        background-image: url('$(res)/img/element-shiny.svg');
        background-repeat: no-repeat;
        background-position: center top;
        height: 112px;
        padding-bottom: 20px;
    }
    .mx_AnalyticsLearnMore_copy {
        border-bottom: 1px solid $menu-border-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    a {
        color: $accent;
        text-decoration: none;
    }

    .mx_AnalyticsPolicyLink {
        display: inline-block;
        mask-image: url('$(res)/img/external-link.svg');
        background-color: $accent;
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 12px;
        height: 12px;
        margin-left: 3px;
        vertical-align: middle;
    }

    .mx_AnalyticsLearnMore_bullets {
        padding-left: 0px;
    }

    .mx_AnalyticsLearnMore_bullets li {
        background: url('$(res)/img/tick-circle.svg') no-repeat;
        list-style-type: none;
        padding: 2px 0px 20px 32px;
        vertical-align: middle;
    }
}
