.mx_NotificationPusherSettings {
    .mx_NotificationPusherSettings_description {
        color: $primary-content;
    }

    .mx_NotificationPusherSettings_detail {
        margin-top: -4px;
        margin-bottom: 12px;
    }
}
