.mx_Heading_h1 {
    font-size: $font-32px;
    font-weight: $font-semi-bold;
    line-height: $font-39px;
}

.mx_Heading_h2 {
    font-size: $font-24px;
    font-weight: $font-semi-bold;
    line-height: $font-29px;
}

.mx_Heading_h3 {
    font-size: $font-18px;
    font-weight: $font-semi-bold;
    line-height: $font-22px;
}
