// XXX: check this?
/* Nunito lacks combining diacritics, so these will fall through
   to the next font.  Helevetica's diacritics however do not combine
   nicely (on OSX, at least) and result in a huge horizontal mess.
   Arial empirically gets it right, hence prioritising Arial here. */
/* We fall through to Twemoji for emoji rather than falling through
   to native Emoji fonts (if any) to ensure cross-browser consistency */
/* Noto Color Emoji contains digits, in fixed-width, therefore causing
   digits in flowed text to stand out.
   TODO: Consider putting all emoji fonts to the end rather than the front. */
$font-family: 'Nunito', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Arial', 'Helvetica', sans-serif, 'Noto Color Emoji';

$monospace-font-family: 'Inconsolata', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Courier', monospace, 'Noto Color Emoji';

// button UI (white-on-green in light skin)
$accent-fg-color: #ffffff;
$accent-alt: #238cf5;

$focus-brightness: 105%;
$location-marker-color: #ffffff;

// informational plinth
$info-plinth-fg-color: #888;

// used by RoomDropTarget
$droptarget-bg-color: rgba(255, 255, 255, 0.5);

// used for the border of input text fields
$input-border-color: #e7e7e7;

$button-fg-color: white;

// apart from login forms, which have stronger border
$strong-input-border-color: #c7c7c7;

// used for UserSettings EditableText
$input-underline-color: rgba(151, 151, 151, 0.5);
$input-fg-color: rgba(74, 74, 74, 0.9);

$avatar-initial-color: #ffffff;

$dialog-shadow-color: rgba(0, 0, 0, 0.48);

$lightbox-background-bg-color: #000;

$imagebody-giflabel: rgba(0, 0, 0, 0.7);
$imagebody-giflabel-border: rgba(0, 0, 0, 0.2);
$imagebody-giflabel-color: rgba(255, 255, 255, 1);

$info-plinth-fg-color: #888;

$neutral-badge-color: #dbdbdb;

$preview-widget-bar-color: #ddd;

$blockquote-bar-color: #ddd;

$settings-grey-fg-color: #a2a2a2;
$settings-profile-button-bg-color: #e7e7e7;

$rte-bg-color: #e9e9e9;
$rte-code-bg-color: rgba(0, 0, 0, 0.04);

$theme-button-bg-color: #e3e8f0;

$presence-away: #d9b072;
$presence-offline: #e3e8f0;

// Legacy theme backports
$accent: #0DBD8B;
$alert: #FF5B55;
$links: #0086e6;
$quaternary-content: #6F7882;

$username-variant1-color: #368bd6;
$username-variant2-color: #ac3ba8;
$username-variant3-color: #03b381;
$username-variant4-color: #e64f7a;
$username-variant5-color: #ff812d;
$username-variant6-color: #2dc2c5;
$username-variant7-color: #5c56f5;
$username-variant8-color: #74d12c;

$yellow-background: #fff8e3;

$copy-button-url: "$(res)/img/feather-customised/clipboard.svg";

// e2e
$e2e-verified-color: #76cfa5; // N.B. *NOT* the same as $accent
$e2e-unknown-color: #e8bf37;
$e2e-unverified-color: #e8bf37;
$e2e-warning-color: #ba6363;

// ImageView
$lightbox-bg-color: #454545;
$lightbox-fg-color: #ffffff;
$lightbox-border-color: #ffffff;

// Buttons
$button-primary-fg-color: #ffffff;
$button-danger-fg-color: #ffffff;
$button-danger-disabled-fg-color: #ffffff;
$button-danger-disabled-bg-color: #f5b6bb; // TODO: Verify color

// Toggle switch
$togglesw-ball-color: #fff;

// Slider
$slider-background-color: #c1c9d6;

$authpage-bg-color: #2e3649;
$authpage-modal-bg-color: rgba(255, 255, 255, 0.59);
$authpage-focus-bg-color: #dddddd;
$authpage-lang-color: #4e5054;
$authpage-primary-color: #232f32;
$authpage-secondary-color: #61708b;

$tooltip-timeline-fg-color: #ffffff;

// See non-legacy _light for variable information
$voice-record-stop-symbol-color: #ff4b55;
$voice-record-live-circle-color: #ff4b55;

$composer-shadow-color: tranparent;

// Bubble tiles
$eventbubble-reply-color: #C1C6CD;
