.mx_Autocomplete {
    position: absolute;
    bottom: 0;
    z-index: 1001;
    width: 100%;
    border: 1px solid $primary-hairline-color;
    background: $background;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    overflow: clip;
    display: flex;
    flex-direction: column;
    // improved foreground-background separation
    box-shadow: 0px -16px 32px rgb(0 0 0 / 4%), 0px -2px 4px -2px rgb(0 0 0 / 12%);
}

.mx_Autocomplete_ProviderSection {
    border-bottom: 1px solid $primary-hairline-color;
    width: 100%;
}

/* a "block" completion takes up a whole line */
.mx_Autocomplete_Completion_block {
    min-height: 34px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    cursor: pointer;
    align-items: center;
    color: $primary-content;

    // Wide mode tweaks, overwritten in the next block for narrow mode
    margin-bottom: 2px;
    padding: $spacing-4 $spacing-12;
}

// Narrow mode tweaks
.mx_RightPanel .mx_Autocomplete_Completion_block {
    margin-bottom: $spacing-8;
    padding-bottom: $spacing-8;
    padding-top: $spacing-8;
}

.mx_Autocomplete_Completion_block * {
    margin: 0 3px;
}

.mx_Autocomplete_Completion_pill {
    box-sizing: border-box;
    border-radius: 2rem;
    height: $font-34px;
    padding: 0.4rem 0.4rem 0.4rem 6px;
    display: flex;
    user-select: none;
    cursor: pointer;
    align-items: center;
    color: $primary-content;
}

.mx_Autocomplete_Completion_pill > * {
    margin-right: 0.3rem;
}

/* styling for common completion elements */
.mx_Autocomplete_Completion_subtitle {
    font-style: italic;
    flex: 1;
}

.mx_Autocomplete_Completion_description {
    color: $secondary-content;
    font-size: $font-12px;
}

// Narrow mode
.mx_RightPanel .mx_Autocomplete_Completion_description {
    margin-bottom: $spacing-4;
}

.mx_Autocomplete_Completion_container_pill {
    margin: $spacing-12;
    height: 100%;
    overflow-y: scroll;
    max-height: 35vh;
}

// Truncate title & subtitle always in narrow mode
.mx_RightPanel .mx_Autocomplete_Completion_container_pill {
    .mx_Autocomplete_Completion_title,
    .mx_Autocomplete_Completion_subtitle {
        /* Ellipsis for long names/subtitles/descriptions */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: max-content;
    }
}

.mx_Autocomplete_Completion_container_truncate {
    .mx_Autocomplete_Completion_title,
    .mx_Autocomplete_Completion_subtitle,
    .mx_Autocomplete_Completion_description {
        /* Ellipsis for long names/subtitles/descriptions */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mx_Autocomplete_Completion.selected,
.mx_Autocomplete_Completion:hover {
    background: $selected-color;
    outline: none;
    border-radius: 8px;
}

.mx_Autocomplete_provider_name {
    margin: $spacing-12;
    color: $secondary-content;
    font-weight: 500;
    opacity: 0.4;
}
