.mx_MemberList_wrapper {
    padding: 0;

    .mx_MemberList_section {
        .mx_EntityTile {
            padding: 4px 6px;
            border-bottom: 1px solid $primary-hairline-color;

            &:hover {
                background-color: #FFFFFF;
            }

            &:hover:before {
                right: 4px;
            }
        }
    }
}

.mx_MemberList_invite span {
    background-image: none;
}
