.mx_MemberList_wrapper {
    padding: 0;

    .mx_MemberList_section {
        .mx_EntityTile {
            padding: 4px 6px;
            border-bottom: 1px solid $primary-hairline-color;

            &:hover {
                background-color: #FFFFFF;
            }

            &:hover:before {
                right: 4px;
            }
        }
    }

    h2 {
        margin: 15px 0 0;
        padding-left: 15px;
        padding-bottom: 8px;
        padding-top: 8px;
        border-top: 1px solid $primary-hairline-color;
        border-bottom: 1px solid $primary-hairline-color;
        background: linear-gradient(90deg, rgb(247, 247, 247) 0%, rgb(255, 255, 255) 30%, rgb(249, 249, 249) 100%);
    }
}

.mx_MemberList_invite span {
    background-image: none;
}
