// Colors from Figma Compound https://www.figma.com/file/X4XTH9iS2KGJ2wFKDqkyed/Compound?node-id=559%3A741
$system: #21262C;

// unified palette
// try to use these colors when possible
$bg-color: #181b21;
$base-color: #15171b;
$base-text-color: #edf3ff;
$header-panel-bg-color: #22262e;
$header-panel-text-primary-color: #a1b2d1;
$header-panel-text-secondary-color: #c8c8cd;
$text-primary-color: #edf3ff;
$text-secondary-color: #a1b2d1;
$room-highlight-color: #343a46;

// typical text (dark-on-white in light skin)
$primary-fg-color: #edf3ff;
$primary-bg-color: #181b21;
$muted-fg-color: #a1b2d1; // Commonly used in headings and relevant alt text

// used for focusing form controls
$focus-bg-color: #343a46;

$other-user-pill-bg-color: #343a46;

// informational plinth
$info-plinth-bg-color: #22262e;

// left-panel style muted accent color
$secondary-accent-color: #343a46;

// selected for hoverover & selected event tiles
$event-selected-color: #22262e;

// used for the hairline dividers in RoomView
$primary-hairline-color: #000000;

// used for the border of input text fields
$input-darker-bg-color: #181b21;
$input-darker-fg-color: #61708b;
$input-lighter-bg-color: #f2f5f8;

$resend-button-divider-color: #a1b2d1;

// scrollbars
$scrollbar-thumb-color: rgba(255, 255, 255, 0.2);

// context menus
$menu-border-color: #000000;
$menu-bg-color: #22262e;
$menu-box-shadow-color: #181b21;
$menu-selected-color: #343a46;

$h3-color: #edf3ff;

$dialog-title-fg-color: #edf3ff;
$dialog-backdrop-color: #000;
$dialog-close-fg-color: #9fa9ba;
$dialog-close-external-color: #edf3ff;

$lightbox-background-bg-opacity: 0.85;

$settings-profile-overlay-placeholder-fg-color: #454545;
$settings-subsection-fg-color: #a1b2d1;

$rte-room-pill-color: #343a46;

$topleftmenu-color: #edf3ff;
$roomheader-addroom-bg-color: #3c4556;
$roomheader-addroom-fg-color: #edf3ff;
$icon-button-color: #a1b2d1;
$roomtopic-color: #a1b2d1;

$roomtile-default-badge-bg-color: #61708b;
$roomtile-selected-bg-color: #1A1D23;

// Legacy theme backports
$panel-base: #8D97A5; // This color is not intended for use in the app

$roomsublist-skeleton-ui-bg: linear-gradient(180deg, #3e444c 0%, #3e444c00 100%);

$call-view-button-on-background: #21262C;
$call-view-button-off-foreground: #21262C;

$video-feed-secondary-background: #21262C;

$roomlist-bg-color: #22262e;

$widget-menu-bar-bg-color: #22262e;
$widget-body-bg-color: #1A1D23;

$event-highlight-bg-color: #25271F;

// event timestamp
$event-timestamp-color: #a1b2d1;

// Tabbed views
$tab-label-fg-color: #edf3ff;
$tab-label-active-fg-color: #edf3ff;

// Buttons
$button-secondary-bg-color: transparent;

$visual-bell-bg-color: #800;

// Toggle switch
$togglesw-off-color: #343a46;

$progressbar-bg-color: #21262c;


$dark-panel-bg-color: #22262e;
$panel-gradient: rgba(34, 38, 46, 0), rgba(34, 38, 46, 1);

$message-action-bar-bg-color: #22262e;
$message-action-bar-fg-color: #a1b2d1;
$message-action-bar-border-color: #616b7f;
$message-action-bar-hover-border-color: #a1b2d1;

$reaction-row-button-hover-border-color: #a1b2d1;
$reaction-row-button-selected-bg-color: #1f6954;

$kbd-border-color: #000000;

$breadcrumb-placeholder-bg-color: #272c35;

// See non-legacy _dark for variable information
$voice-record-stop-border-color: #6F7882;
$voice-record-icon-color: #6F7882;

// FontSlider colors
$appearance-tab-border-color: #343a46;

$codeblock-background-color: #2a3039;

// Bubble tiles
$eventbubble-self-bg: #14322E;
$eventbubble-others-bg: #22262e;
$eventbubble-bg-hover: #1C2026;

// ***** Mixins! *****

// Nasty hacks to apply a filter to arbitrary monochrome artwork to make it
// better match the theme.  Typically applied to dark grey 'off' buttons or
// light grey 'on' buttons.
.mx_filterFlipColor {
    filter: invert(1);
}

// markdown overrides:
.mx_EventTile_content .markdown-body {
    table {
        tr {
            background-color: #000000;
        }

        tr:nth-child(2n) {
            background-color: #080808;
        }
    }
}

// highlight.js overrides:
.hljs-tag {
    color: inherit; // Without this they'd be weirdly blue which doesn't match the theme
}
